ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 200px;
	margin-bottom: 50px;
	margin-top: 50px;
}
li {
	padding: 10px 15px;
	border: 1px solid black;
	font-weight: 'bold';
}

.content {
	text-align: center;
	margin-left: 40%;
}
